<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sfllhkhan95.game.kaptaansquest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.GameDrawer"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.DharnaResult"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.GameStory"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.DharnaGame"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.ChooseTeam"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.LaunchScreen"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>